/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/04/2016, 11:59:15
    Author     : Matias
*/

body{
    //float:left;
    clear:both;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background: #151515;
    margin-left: 270px;
    
    //padding:30px;
}

body #titulo{
     margin-bottom: 5px;
    padding:1px;
    //background: #E6E6E6;
    text-align: center;
    font-size:22px;
    font-family: fantasy;
    font-weight: bold;
     color: #A4A4A4;
}